version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "06:00"
      timezone: "Asia/Kolkata"

    # Group updates to avoid PR spam
    groups:
    all-dependencies:
      patterns:
        - "*"

    # Limit how many PRs can be open at once
    open-pull-requests-limit: 2
