version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "06:00"
      timezone: "Asia/Kolkata"

    groups:
      all-dependencies:
        patterns:
          - "*"

    open-pull-requests-limit: 1